body{
    background-color: #ffffff;
    color: #801818;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: #801818;
}
#image{
    grid-area: image;
}
nav{
    background-color: #801818;
    color: #ffffff;
}
main{
    grid-area: main;
}
footer{
    grid-area: fotter;
    background-color: #464646;
    color: #ffffff;
}
